/* ------------------------- */
/* V A R I A B L E S  */
/* ------------------------- */
:root {
    --ff-heading: "Leckerli+One", sans-serif;
    --ff-body: "Lora", sans-serif;
    --color-first: #222831;
    --color-second: #31363f;
    --color-third: #76abae;
    --color-fourth: #eeeeee;
}

/*----------------------------------------*/
/* P R E L O A D */
/*----------------------------------------*/
body:after {
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 0;
    z-index: -1;
    content: url(../images/btn-hover.png) url(../images/btn-active.png) url(../images/btn-view.png);
}

/* ------------------------- */
/* G E N E R A L  */
/* ------------------------- */

body {
    background-color: var(--color-second);
    font-family: var(--ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    main {
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--ff-heading);
    
            a:is(:link, :visited) {
                background: url(../images/btn.png) no-repeat center;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3rem;
                transition: all 0.4s ease-in;
                width: 300px;
                color: var(--txt-color);
                font-size: 2rem;
            }
    
            a:is(:hover) {
                background: url(../images/btn-hover.png) no-repeat center;
                transform: scale(1.1) translateY(-5);
            }
    
            a:is(:active) {
                background: url(../images/btn-active.png) no-repeat center;
            }
        }

        height: 800px;
        position: relative;
        width: 400px;
        overflow: hidden;
        background: url(../images/bg-main.png) no-repeat center;

        header {
            margin-top: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a.btn-back:is(:link, :visited) {
                transition: transform 0.4s ease-in;
            }

            a.btn-back:is(:hover) {
                transform: translateX(-4px);
            }

            position: relative;
            z-index: 3;

            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;

                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms,
                        stroke-dashoffset 400ms;
                    stroke: var(--color-first);
                    stroke-width: 4;
                    stroke-linecap: round;
                }

                .top {
                    stroke-dasharray: 40 121;
                }

                .bottom {
                    stroke-dasharray: 40 121;
                }
            }

            svg.btn-burger.active {
                transform: rotate(45deg);

                .top {
                    stroke-dashoffset: -68px;
                }

                .bottom {
                    stroke-dashoffset: -68px;
                }
            }
        }

        nav.nav {
            background-color: #0009;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            border-radius: 20px;
            flex-direction: column;
            flex-wrap: wrap;
            height: 800px;
            padding-top: 10rem;
            position: absolute;
            top: 0;
            transform: translateY(-60%) scale(0);
            transition: transform 0.4s ease-in-out;
            z-index: 2;
            width: 400px;

            img.title-menu {
                margin-block: 2rem;
            }
        }

        nav.nav.active {
            opacity: 1;
            transform: translateY(0%);
        }

        menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a:is(:link, :visited) {
                background: url(../images/btn.png) no-repeat center;
                color: var(--txt-color);
                font-size: 20px;
                font-weight: 400;
                height: 60px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.6rem;
                padding-left: 20px;
                margin-top: 1.2rem;
                transition: all 0.4s ease-in;
                text-decoration: none;
                width: 300px;
            }

            a:is(:hover) {
                background: url(../images/bnt-hover.png) no-repeat center;
                transform: scale(1.02) translateY(-4px);
            }

            a:is(:active) {
                background: url(../images/bnt-active.png) no-repeat center;
            }
        }
    }
}

/* ------------------------- */
/* 01 - W E L C O M E  */
/* ------------------------- */

main.welcome {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 0.5rem;
    }

    section.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;

            img {
                height: 306px;
                width: 306px;
            }
        }

        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn_prev.svg) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.svg) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(-4px);
            }
        }

        div.owl-dots {
            position: relative;
            top: -46px;

            button {
                transition: transform 0.2s ease-in;
            }

            button:is(:hover) {
                transform: scale(1.1);
            }

            button.owl-dot {
                span {
                    background-color: var(--color-second);
                    height: 16px;
                    width: 16px;
                }
            }

            button.owl-dot.active,
            button.owl-dot:is(:hover) {
                span {
                    background-color: var(--color-third);
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }

    
}

/*----------------------------------------*/
/* 02 - C A T A L O G U E */
/*----------------------------------------*/

main.catalogue {

    section.scroll {
        scrollbar-width: none;
        overflow-y: scroll;
        height: 640px;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            input {
                border: none;
                background: url(../images/ico-filter.svg) no-repeat 260px center,
                    url(../images/bg-input-filter.png) no-repeat center;
                color: var(--txt-color);
                height: 60px;
                outline: none;
                text-indent: 16px;
                width: 298px;

                &::placeholder {
                    opacity: .7;
                    color: var(--txt-color);
                }
            }
        }

        article {
            h2 {
                display: flex;
                justify-content: center;
                font-family: var(--ff-heading);
                font-size: 20px;
                align-items: center;
                color: var(--txt-color);
                margin-bottom: 1rem;
                gap: 1rem;
            }

            figure {
                figcaption {
                    color: var(--txt-color);
                    font-weight: 400;
                    margin-block: 0.6rem;
                    font-size: 16px;
                }

                a:is(:link, :visited) {
                    background: url(../images/btn-view.png) no-repeat center;
                    color: var(--txt-color);
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    text-decoration: none;
                    width: 120px;

                    img {
                        width: 18px;
                    }
                }

                a:is(:hover) {
                    background: url(../images/btn-hover.png) no-repeat center;
                    transform: scale(1.1) translateY(-5);
                }

                a:is(:active) {
                    background: url(../images/btn-active.png) no-repeat center;
                }
            }
        }

        div.owl-carousel {
            height: 210px;

            div.owl-item {
                display: flex;
                justify-content: center;

                img.slide {
                    height: 120px;
                    width: 120px;
                }
            }

            div.owl-nav {
                position: relative;
                top: -168px;
                display: flex;
                justify-content: space-between;

                button {
                    transition: transform 0.2s ease-in;

                    span {
                        display: flex;
                        height: 44px;
                        width: 34px;
                        text-indent: -9999px;
                    }
                }

                button:is(:hover) {
                    background-color: transparent;
                }

                button.owl-prev {
                    span {
                        background: url(../images/btn_prev.svg) no-repeat center;
                    }
                }

                button.owl-prev:hover {
                    transform: scale(1.1) translateX(-4px);
                }

                button.owl-next {
                    span {
                        background: url(../images/btn-next.svg) no-repeat center;
                    }
                }

                button.owl-next:hover {
                    transform: scale(1.1) translateX(-4px);
                }
            }

        }
    }
}

/*----------------------------------------*/
/* 03- V I E W  G A M E */
/*----------------------------------------*/

main.view-game{
    header{
        margin-bottom: 1rem;
        h1 {
            font-family: var(--ff-heading);
            font-size: 24px;
            color: var(--txt-color);
        }
    }
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        article{
            display: flex;
            flex-direction: column;
            display: flex;
            width: 296px;
            div.row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                div.column{
                    h4{
                        font-family: var(--ff-heading);
                        font-size: 20px;
                        color: var(--txt-color);
                    }
                    p{
                        font-family: var(--ff-body);
                        color: var(--txt-color);
                        font-size: 16px;
                        line-height: 1.2rem;
                        text-align: justify;
                        &.price{
                            color: var(--txt-color);
                            font-weight: 400;
                            font-size: 36px;
                        }
                    }
                }
            }
        }
    }
}